
@{
    Layout = "~/Views/Shared/_LayoutShou.cshtml";

}

@model PagedList<商城百媚.Models.Product>




<html lang="zxx">

<head>

    <link rel="stylesheet" href="~/static/css/plugins.min.css">
    <link rel="stylesheet" href="~/static/css/style.min.css">

</head>

<body>
    <div class="preloader-activate preloader-active open_tm_preloader">
        <div class="preloader-area-wrap">
            <div class="spinner d-flex justify-content-center align-items-center h-100">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>
    <div class="main-wrapper">




        <!-- 轮播图 -->
        <div class="slider-area">

            <!-- Main Slider -->
            <div class="swiper-container main-slider swiper-arrow with-bg_white">
                <div class="swiper-wrapper">
                    <div class="swiper-slide animation-style-01">
                        <div class="slide-inner style-1 bg-height" data-bg-image="static/image/1-1.jpg">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 order-2 order-lg-1 align-self-center">
                                        <div class="slide-content text-black">
                                            <span class="offer">推荐</span>
                                            <h2 class="title">最新款式</h2>
                                            <p class="short-desc">火热促销中</p>

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-8 offset-md-2 offset-lg-0 order-1 order-lg-2">
                                        <div class="inner-img">
                                            <div class="scene fill">
                                                <div class="expand-width" data-depth="0.2">
                                                    <img src="~/image/裙子3.jpg" alt="Inner Image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide animation-style-01">
                        <div class="slide-inner style-1 bg-height" data-bg-image="static/image/1-1.jpg">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 order-2 order-lg-1 align-self-center">
                                        <div class="slide-content text-black">
                                            <span class="offer">推荐</span>
                                            <h2 class="title">最新款式</h2>
                                            <p class="short-desc">火热促销中</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-8 offset-md-2 offset-lg-0 order-1 order-lg-2">
                                        <div class="inner-img">
                                            <div class="scene fill">
                                                <div class="expand-width" data-depth="0.2">
                                                    <img src="~/image/裙子2.jpg" alt="Inner Image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination d-md-none"></div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>

        </div>

        <!-- 商品部分-->
        <div class="product-area" style="margin-top:5px">
            <div class="container">
                <div class="section-title-wrap">
                    <h2 class="section-title mb-0">商品区</h2>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="nav product-tab-nav tab-style-1" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="active" id="featured-tab" data-bs-toggle="tab" href="#featured" role="tab" aria-controls="featured" aria-selected="true">
                                    衣服
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a id="bestseller-tab" data-bs-toggle="tab" href="#bestseller" role="tab" aria-controls="bestseller" aria-selected="false">
                                    裤子
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a id="latest-tab" data-bs-toggle="tab" href="#latest" role="tab" aria-controls="latest" aria-selected="false">
                                    鞋子
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="featured" role="tabpanel" aria-labelledby="featured-tab">
                                @foreach (var item in ViewBag.Product1)
                                {

                                        <div class="product-item-wrap row" style="float:left;width:27%">
                                            <div>

                                                <div class="product-item">
                                                    <div class="product-img">

                                                        <a href="/Car/Details/@item.ProductID">
                                                            <img class="primary-img" src="~/image/@item.Photo" alt="Product Images">
                                                            <img class="secondary-img" src="~/image/@item.Photo" alt="Product Images">
                                                        </a>
                                                        <div class="product-add-action">
                                                            <ul>
                                                                <li class="quuickview-btn" data-bs-toggle="modal" data-bs-target="#quickModal">
                                                                    <a href="/Car/Details/@item.ProductID" data-tippy="查看详情" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                                        <i class="pe-7s-look"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <div class="product-content">
                                                        <a class="product-name" href="shop.html">@item.Title</a>
                                                        <div class="price-box pb-1">
                                                            <span class="new-price">@item.Price</span>
                                                        </div>
                                                        <div class="rating-box">
                                                            <ul>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                }
                            </div>
                            <div class="tab-pane fade" id="bestseller" role="tabpanel" aria-labelledby="bestseller-tab">
                                @foreach (Product item in ViewBag.Product2)
                                {
                                    <div class="product-item-wrap row" style="float:left;width:27%">
                                        <div>

                                            <div class="product-item">
                                                <div class="product-img">
                                                    <a href="/Car/Details/@item.ProductID">
                                                        <img class="primary-img" src="~/image/@item.Photo" alt="Product Images">
                                                        <img class="secondary-img" src="~/image/@item.Photo" alt="Product Images">
                                                    </a>
                                                    <div class="product-add-action">
                                                        <ul>
                                                            <li class="quuickview-btn" data-bs-toggle="modal" data-bs-target="#quickModal">
                                                                <a href="/Car/Details/@item.ProductID" data-tippy="查看详情" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                                    <i class="pe-7s-look"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="product-content">
                                                    <a class="product-name" href="shop.html">@item.Title</a>
                                                    <div class="price-box pb-1">
                                                        <span class="new-price">@item.Price</span>
                                                    </div>
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>}
                            </div>
                            <div class="tab-pane fade" id="latest" role="tabpanel" aria-labelledby="latest-tab">
                                @foreach (Product item in ViewBag.Product3)
                                {
                                    <div class="product-item-wrap row" style="float:left;width:27%">
                                        <div>

                                            <div class="product-item">
                                                <div class="product-img">
                                                    <a href="/Car/Details/@item.ProductID">
                                                        <img class="primary-img" src="~/image/@item.Photo" alt="Product Images">
                                                        <img class="secondary-img" src="~/image/@item.Photo" alt="Product Images">
                                                    </a>
                                                    <div class="product-add-action">
                                                        <ul>
                                                            <li class="quuickview-btn" data-bs-toggle="modal" data-bs-target="#quickModal">
                                                                <a href="/Car/Details/@item.ProductID" data-tippy="查看详情" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                                    <i class="pe-7s-look"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="product-content">
                                                    <a class="product-name" href="shop.html">@item.Title</a>
                                                    <div class="price-box pb-1">
                                                        <span class="new-price">@item.Price</span>
                                                    </div>
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    <script src="~/static/js/plugins.min.js"></script>

        </div>
        </body>

</html>
